<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  IgnorableNamespaces="uap rescap mp">

  <Identity
    Name="22189NoMewing.Pass.Note"
    Publisher="CN=E6D8FAFA-3EF4-4E47-B885-52144C67BFF5"
    Version="3.1.0.0" />

  <Properties>
    <DisplayName>密罐</DisplayName>
    <PublisherDisplayName>No Mewing</PublisherDisplayName>
    <Logo>Assets\Manifest\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="密罐"
        Description="妥善保存蜜码。"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Manifest\Square150x150Logo.png" Square44x44Logo="Assets\Manifest\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Manifest\Wide310x150Logo.png"  ShortName="密罐" Square71x71Logo="Assets\Manifest\SmallTile.png" Square310x310Logo="Assets\Manifest\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\Manifest\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/>
          <uap:Rotation Preference="portrait"/>
          <uap:Rotation Preference="landscapeFlipped"/>
          <uap:Rotation Preference="portraitFlipped"/></uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

  <mp:PhoneIdentity PhoneProductId="8d83ae7b-1aef-4df6-b23b-01fdac4b3d1c" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
</Package>
